@media only screen and (max-width: 768px) {
  header {
    text-align: center;
    padding: 10px;
  }
  
  header .logo {
    display: inline-block;
    position: static;
    transform: none;
  }

  header .hamburger {
    display: block;
  }
  
  header ul.pc {
    display: none;
  }
}